<div class="container text-center">
    <div class="row">
        <div class="col-12">
            Disclaimer
        </div>
    </div>
    <div class="row" style="height:300px">
        <div class="col-12">
            To use this app, you must have ffmpeg installed in your computer.
            <br>
            To download ffmpeg visit : https://ffmpeg.org/download.html
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Once you have installed ffmpeg and set the required PATH variables, proceed to the application.
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button routerLink="/mainScreen" class='btn btn-primary'>I have installed ffmpeg</button>
        </div>
    </div>
</div>